<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137582116738-052ts2hneig5qn9i4napp0ktig79ngoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137582116738-052ts2hneig5qn9i4napp0ktig79ngoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCah6UGPOGhOz1eqkV0nciULl5HVHayFjc</string>
	<key>GCM_SENDER_ID</key>
	<string>137582116738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjlearmonth.TwitterTutorialRpt</string>
	<key>PROJECT_ID</key>
	<string>twittertutorialrpt-f4dbc</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorialrpt-f4dbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137582116738:ios:df15a2591692aae76e999b</string>
</dict>
</plist>